.BookingForm {
    min-width: 450px;
    font-size: var(--medium-font);

    display: flex;
    flex-direction: column;
}

.BookingForm__dateInputs, .BookingForm__countInputs {
    display: flex;
    justify-content: space-between;
}

.BookingForm__messageInput {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.BookingForm__dateInputs, .BookingForm__countInputs, .BookingForm__messageInput, .BookingForm__bookNowButton {
    margin: 10px 0;
}

.BookingForm__bookNowButton {
    margin-top: 18px;
    width: 100%;
    padding: 12px;
    font-size: var(--large-font);
    border: none;
    outline: transparent;
    background-color: var(--primary-blue);
    color: var(--basic-white);
    cursor: pointer;
}