.Header {
    height: var(--header-height);
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--basic-white);
    box-shadow: 0 1px 7px 0 var(--shadow);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__title {
    margin: 12px;
    font-size: var(--large-font);
    font-weight: 700;
    color: var(--primary-blue);
}

.Header__back {
    margin-left: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.Header__actionButton {
    color: var(--primary-blue);
    margin: 0 18px;
    cursor: pointer;
}