.PropertyList {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 720px;
    width: 100%;
}

.PropertyListItem {
    margin: 18px;
    background-color: var(--dull-white);
    box-shadow: 0 1px 3px 0 var(--shadow);

    display: flex;
}

.PropertyListItem__details {
    padding: 12px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.PropertyListItem__detailSubHeader {
    font-size: var(--medium-font);
    color: var(--dark-grey);
}

.PropertyListItem__detailHeader {
    font-size: var(--large-font);
    font-weight: bold;
}